@use 'fonts' as font;

nav {
    font-family: font.$masterFont;
    // background-color: #f5f5f5;
    background-color: #23262F;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    color: #fff;

    ul {
        display: flex;
        gap: 2rem;
    }
    a { 
        color: #dfe1e8;
        text-decoration: none;
        &:hover {
            color: #f5f5ff;
        }
    }
}
